fastapi
uvicorn[standard]

langgraph

langchain==0.3.30
langchain-community==0.3.31
langchain-huggingface==0.1.2
langchain-openai

python-dotenv

pydantic
pydantic-settings

unstructured
unstructured[md]

python-magic

chromadb

grandalf

langgraph-checkpoint-sqlite==2.0.6

aiosqlite